[tool.poetry]
name = "jep"
version = "0.1.0"
description = "JEP is a tool to manage shifts for medical services."
authors = ["Julian Baumann <Julian.Baumann@johanniter.de>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
django = "^3.0.6"
django-bootstrap4 = "^1.1.1"
django-environ = "^0.4.5"
mysqlclient = "^1.4.6"
django-jsonfallback = "^2.1.2"

[tool.poetry.dev-dependencies]
black = "^19.10b0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
