[tool.poetry]
name = "ephios"
version = "0.1.1"
description = "ephios is a tool to manage shifts for medical services."
authors = ["Julian Baumann <julian@ephios.de>", "Felix Rindt <felix@ephios.de>"]
license = "MIT"
readme = "README.md"
homepage = "https://ephios.de"
repository = "https://github.com/ephios-dev/ephios"

[tool.poetry.dependencies]
python = "^3.8"
django = "^3.1"
django-bootstrap4 = "^2.2.0"
django-environ = "^0.4.5"
django-guardian = "^2.3.0"
django-ical = "^1.7.1"
django-polymorphic = "^3.0.0"
django-select2 = "^7.4.2"
reportlab = "^3.5.51"
django-formset-js-improved = "^0.5.0"
django-csp = "^3.7"
bleach = "^3.2.1"
markdown = "^3.2.2"

psycopg2 = {version = "^2.8.6", optional = true}
mysqlclient = {version = "^2.0.1", optional = true}

[tool.poetry.extras]
pgsql = ["psycopg2"]
mysql = ["mysqlclient"]

[tool.poetry.dev-dependencies]
black = "^20.8b1"
pre-commit = "^2.6.0"
django-debug-toolbar = "^3.1"
pytest-django = "^3.9.0"
django-webtest = "^1.9.7"
django-extensions = "^3.0.5"

[tool.black]
line-length = 100

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "ephios.settings"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

