[tool.poetry]
name = "ephios"
version = "0.10.0-dev"
description = "ephios is a tool to manage shifts for medical services."
authors = ["Julian Baumann <julian@ephios.de>", "Felix Rindt <felix@ephios.de>"]
license = "MIT"
readme = "README.md"
homepage = "https://ephios.de"
repository = "https://github.com/ephios-dev/ephios"
documentation = "https://docs.ephios.de/en/stable/"

[tool.poetry.dependencies]
python = "^3.8"
django-environ = ">=0.4.5,<0.8.0"
django-guardian = "^2.3.0"
django-ical = "^1.7.1"
django-polymorphic = "^3.0.0"
django-select2 = "^7.4.2"
reportlab = "^3.5.51"
django-formset-js-improved = "^0.5.0"
django-csp = "^3.7"
bleach = ">=3.2.1,<5.0.0"
markdown = "^3.2.2"

psycopg2 = {version = "^2.8.6", optional = true}
mysqlclient = {version = "^2.0.1", optional = true}
django-redis = {version = ">=4.12.1,<6.0.0", optional = true}
django-compressor = "^2.4"
django-statici18n = "^2.0.1"
django-dynamic-preferences = "^1.11.0"
django-crispy-forms = "^1.11.1"
django-webpush = "^0.3.3"
importlib-metadata = { version = ">=3.7.3,<5.0.0", python = "<3.9" }
django-libsass = ">=0.8,<0.10"
crispy-bootstrap5 = ">=0.4,<0.7"
djangorestframework = "^3.12.4"
Django = "4.0a1"

[tool.poetry.extras]
pgsql = ["psycopg2"]
mysql = ["mysqlclient"]
redis = ["django-redis"]

[tool.poetry.dev-dependencies]
black = "^21.9b0"
pre-commit = "^2.15.0"
django-debug-toolbar = "^3.2"
pytest-django = "^4.4.0"
django-webtest = "^1.9.8"
django-extensions = "^3.1.3"
coverage = "^5.5"
coveralls = "^3.2.0"
isort = "^5.9.3"
pylint = "^2.11.1"
autoflake = "^1.4"
Sphinx = "^3.5.4"
sphinx-rtd-theme = "^1.0.0"
sphinx-intl = "^2.0.1"
sphinx-github-changelog = "^1.0.8"

[tool.black]
line-length = 100
# https://github.com/psf/black/blob/master/docs/compatible_configs.md

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 100

[tool.pylint.messages_control]
# C0330 and C0301 are disabled for use of black
disable = """C0330, C0301,
duplicate-code, attribute-defined-outside-init, missing-module-docstring, missing-class-docstring,
no-member, invalid-name, import-outside-toplevel, unused-argument, too-many-ancestors, missing-function-docstring,
too-few-public-methods, no-self-use, too-many-arguments, cyclic-import, inconsistent-return-statements,
useless-object-inheritance, logging-fstring-interpolation
"""

[tool.pylint.format]
max-line-length = "100"

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "tests.settings"
addopts = "--fail-on-template-vars"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

