{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}
    {% trans "Groups" %}
{% endblock %}


{% block javascript %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        {% get_current_language as current_language %}
        $(document).ready(function () {
            $('#event_table').DataTable({
                "paging": false,
                "info": false,
                "responsive": true,
                {% if current_language == "de-de" %}
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/German.json"
                    },
                {% endif %}
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% trans "Groups" %}</h1>
    </div>
    {% if perms.auth.add_group %}
        <a class="btn btn-secondary" href="{% url "user_management:group_add" %}"><span
                class="fa fa-plus"></span> {% trans "Add group" %}</a>
    {% endif %}
    <table id="event_table" class="table table-striped display">
        <thead>
        <tr>
            <th width="70%">{% trans "Name" %}</th>
            <th width="30%">{% trans "Action" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for group in group_list %}
            <tr>
                <td>{{ group.name }}</td>
                <td>
                    <a class="btn btn-outline-primary btn-sm" href="{% url "user_management:group_edit" group.pk %}"><span
                            class="fa fa-edit"></span> {% trans "Edit" %}</a>
                    <a class="btn btn-outline-danger btn-sm" href="{% url "user_management:group_delete" group.pk %}"><span
                            class="fa fa-trash-alt"></span> {% trans "Delete" %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
