{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block javascript %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        {% get_current_language as current_language %}
        $(document).ready(function () {
            $('#userprofile_table').DataTable({
                "paging": false,
                "info": false,
                "responsive": true,
                {% if current_language == "de-de" %}
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/German.json"
                    },
                {% endif %}
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% with perms.user_management.view_users as can_view %}
        {% if not can_view %}
            {% trans "You have no permission to view the user list." as no_permission_message %}
            {% bootstrap_alert no_permission_message alert_type="danger" %}
        {% endif %}
        <div class="page-header">
            <h1>{% trans "Users" %}</h1>
        </div>
        {% if can_view %}
            <table id="userprofile_table" class="table table-striped display">
                <thead>
                <tr>
                    <th>{% trans "Last name" %}</th>
                    <th>{% trans "First name" %}</th>
                    <th>{% trans "Email address" %}</th>
                    <th>{% trans "Information" %}</th>
                    <th>{% trans "Action" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for userprofile in userprofile_list %}
                    <tr>
                        <td>{{ userprofile.last_name }}</td>
                        <td>{{ userprofile.first_name }}</td>
                        <td>{{ userprofile.email }}</td>
                        <td>{% include "user_management/userprofile_badges.html" with userprofile=userprofile %}</td>
                        <td><i>Buttons to be inserted</i></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endwith %}
{% endblock %}
