{% load rich_text %}
{% load i18n %}
{% load utils %}
{% load event_extras %}

<style nonce="{{ request.csp_nonce }}">
    .day-calendar-container {
        grid-template-columns: {{ css_grid_columns }};
    }

    .day-calendar-content {
        height: {{ total_height }}em;
        background-size: {{ half_hour_height }}em {{ half_hour_height }}em;
    }

    .day-calendar-content:nth-child(odd) {
        background-size: {{ half_hour_height }}em {{ half_hour_height }}em;
    }

    {% for column in shift_columns %}
        .day-calendar-column-{{ column }} {
            grid-column: {{ column }};
        }
    {% endfor %}

    {{ css_grid_headers }}
    {{ css_shift_tops }}
</style>

<div class="day-calendar-container">
    {% for event in event_list %}
        <div class="day-calendar-header-{{ event.pk }} day-calendar-head d-flex">
            <a class="card m-1 flex-grow-1 link-underline link-underline-opacity-0 link-underline-opacity-0-hover"
               href="{{ event.get_absolute_url }}">
                <div class="card-body pb-0">
                    <h2 class="card-title clearfix text-truncate fs-6">
                        <span class="fs-5">
                            {{ event.title }}
                        </span>
                        <br/>
                        <span class="me-1  badge eventtype-{{ event.type.pk }}-color">{{ event.type }}</span>
                        <span class="text-body-secondary me-1 d-inline-block">
                            <i class="fas fa-map-marker-alt"></i>
                            {{ event.location }}
                        </span>
                    </h2>
                </div>
            </a>
        </div>
    {% empty %}
        <h5 class="mt-5 text-center">
            {% translate "No results" %}
        </h5>
    {% endfor %}

    {% for event in event_list %}
        {% for column_idx, column_contents in columns_by_event|get_items_for_key:event.pk %}
            <div class="day-calendar-column-col-{{ event.pk }}-{{ column_idx }} day-calendar-content">
                {% for shift in column_contents %}
                    {% setvar request|participation_from_request:shift as participation %}
                    {% setvar shift.get_signup_stats as stats %}
                    <div
                        class="card day-calendar-shift-{{ shift.pk }} border-4
                               {% if stats.missing %}
                                   border-danger-subtle
                               {% elif stats.free %}
                                   border-warning-subtle
                               {% else %} border-success-subtle
                               {% endif %}">
                        {% include "core/fragments/shift_header.html" with shift=shift participation=participation hide_date=True %}
                        <div class="card-body">
                            {% include shift.structure with own_participation=participation %}
                        </div>
                        <div class="card-footer">
                            {% if event.active %}
                                {% with can_sign_up=request|can_sign_up:shift can_decline=request|can_decline:shift can_customize_signup=request|can_customize_signup:shift %}
                                    <form method="POST" class="form" id="signup-form-{{ shift.pk }}"
                                          action="{{ request|reverse_signup_action:shift }}">

                                        {# If signup form is invalid, provide the shift times as initial values by including them in post data. #}
                                        <input type="hidden" name="individual_start_time_0"
                                               value="{{ shift.start_time|date:"Y-m-d" }}">
                                        <input type="hidden" name="individual_start_time_1"
                                               value="{{ shift.start_time|time:"H:i" }}">
                                        <input type="hidden" name="individual_end_time_0"
                                               value="{{ shift.end_time|date:"Y-m-d" }}">
                                        <input type="hidden" name="individual_end_time_1"
                                               value="{{ shift.end_time|time:"H:i" }}">

                                        {% csrf_token %}
                                        {% if can_sign_up %}
                                            <button type="submit" name="signup_choice" value="sign_up"
                                                    class="btn btn-sm btn-success">{{ shift.signup_flow.registration_button_text }}</button>
                                        {% endif %}
                                        <span class="d-inline-block" tabindex="1">
                                            <a class="btn btn-sm btn-secondary"
                                               href="{{ shift.get_absolute_url }}">
                                                <i class="fas fa-eye"></i>
                                                {% translate "more" %}
                                            </a>
                                        </span>
                                    </form>
                                {% endwith %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
</div>