{% load static %}
<!-- Path to manifest.json -->
<link rel="manifest" href="/manifest.json">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="ephios">


<!-- Chrome for Android theme color -->
<meta name="theme-color" content="#000">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="ephios">
<meta name="apple-mobile-web-app-status-bar-style" content="#fff">

{% for icon in PWA_APP_ICONS %}
    <link rel="apple-touch-icon" href="{{ icon.src }}" sizes="{{ icon.sizes }}">
{% endfor %}


{% for splash in PWA_APP_SPLASH_SCREEN %}
<link href="{{ splash.src }}" media="{{ splash.media }}" rel="apple-touch-startup-image"/>
{% endfor %}


<!-- Tile for Win8 -->
<meta name="msapplication-TileColor" content="#fff">
{% with PWA_APP_ICONS|last as icon %}
    <meta name="msapplication-TileImage" content="{{ icon.src }}">
    <link rel="icon" sizes="{{ icon.sizes }}" href="{{ icon.src }}">
{% endwith %}

<script type="text/javascript" src="{% static "ephios/js/pwa_registration.js" %}"></script>
