{% load i18n %}
{% load user_extras %}

{% with request.user|my_pending_consequences as my_pending_consequences %}
    {% if my_pending_consequences|length > 0 %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{% trans "Wait for decision by decision maker" %}</h5>
            </div>
            <ul class="list-group list-group-flush">
                {% for c in my_pending_consequences %}

                    <li class="list-group-item">
                        <i class="fas fa-hourglass-half"></i>
                        {{ c.render }}
                    </li>

                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endwith %}
