
.two-columns {
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.break-word {
  word-break: break-word;
}

.h-0 {
  height: 0;
}

.tabular-numbers {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-numbers;
}