{% extends "base.html" %}
{% load cache %}
{% load event_extras %}
{% load bootstrap %}
{% load rich_text %}
{% load guardian_tags %}
{% load i18n %}

{% block title %}
    {{ event.title }}
{% endblock %}

{% block html_head %}
    <style nonce="{{ request.csp_nonce }}">
        {% cache 900 "single_eventtype_color" event.type.pk %}
            {{ event.type|color_css }}
        {% endcache %}
    </style>
{% endblock %}

{% block content %}
    {% if not event.active %}
        {% if event.shifts.exists %}
            {% trans "This event has not been saved! If you are done editing the event, you can save it." as not_active_error %}
            {% trans "Save" as save_trans %}
            <form method='POST' class='form' action='{% url "core:event_activate" event.pk %}'>
                {% csrf_token %}
                {% render_alert not_active_error|add:"<button type='submit' class='btn btn-primary'>"|add:save_trans|add:"</button>"|safe "warning" %}
            </form>
        {% else %}
            {% trans "This event has not been saved! Please add a shift to save this event." as no_shift_error %}
            {% render_alert no_shift_error "danger" %}
        {% endif %}
    {% endif %}
    <div class="page-header clearfix">
        <h2>
            <small class="float-right mr-lg-3"><span
                    class="badge badge-{{ event.type.pk }}-color">{{ event.type }}</span></small>
            {{ event.title }}
        </h2>
        <h4 class="text-muted">
            {{ event.location }}
        </h4>
        {% if request.user.is_authenticated %}
            {% get_obj_perms request.user for event as "event_perms" %}
        {% endif %}
        {% if "change_event" in event_perms %}
            <div class="float-right d-inline mb-3">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="actionDropdownButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% translate "Manage event" %}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="actionDropdownButton">
                        <a class="dropdown-item"
                           href="{% url "core:event_edit" event.pk %}">
                            <span class="fas fa-edit"></span>
                            {% trans "Edit event" %}
                        </a>
                        <a class="dropdown-item"
                           href="{% url "core:event_createshift" event.pk %}">
                            <span class="fas fa-plus"></span>
                            {% trans "Add another shift" %}
                        </a>
                        <a class="dropdown-item"
                           href="{% url "core:event_delete" event.pk %}">
                            <span class="fas fa-trash-alt"></span>
                            {% trans "Delete event" %}
                        </a>
                        {% if event.active %}
                            <a class="dropdown-item"
                               href="{% url "core:event_copy" event.pk %}">
                                <span class="fas fa-copy"></span>
                                {% translate "Copy event" %}
                            </a>
                            <a class="dropdown-item"
                               href="{% url "core:event_detail_pdf" event.pk %}">
                                <span class="fas fa-file-pdf"></span>
                                {% trans "Download PDF" %}
                            </a>
                            <a class="dropdown-item"
                               href="{% url "core:event_notifications" event.pk %}">
                                <span class="fas fa-envelope"></span>
                                {% trans "Send notifications" %}
                            </a>
                        {% endif %}
                        {% if perms.modellogging.view_logentry %}
                            <a class="dropdown-item"
                               href="{% url "core:log" %}?object_type=event&object_id={{ event.id }}">
                                <span class="fas fa-clipboard-list"></span>
                                {% trans "View edit history" %}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div>{{ event.description|rich_text:"h1,h2" }}</div>
    <div>
        {% for shift in event.shifts.all %}
            {% include "core/fragments/shift_box_big.html" with shift=shift %}
        {% empty %}
            <p class="text-center"><em>{% translate "No shifts" %}</em></p>
        {% endfor %}
    </div>
{% endblock %}
