{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block title %}
    {% if group %}
        {% translate "Edit group" %}
    {% else %}
        {% translate "Create new group" %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="page-header">
        {% if group %}
            <h1>{% translate "Edit group" %}</h1>
        {% else %}
            <h1>{% translate "Create new group" %}</h1>
        {% endif %}
    </div>
    {% if oidc_group_claims %}
        <div class="alert alert-warning" role="alert">
            {% blocktranslate trimmed %}
                This ephios instance uses an identity provider that manages group memberships. Any changes to the group memberships here will be overwritten by the identity provider when a user logs in the next time using the identity provider.
            {% endblocktranslate %}
        </div>
    {% endif %}
    {% crispy form %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static "ephios/js/group_form.js" %}"></script>
{% endblock %}
