{% extends "core/settings/settings_base.html" %}
{% load i18n %}

{% block settings_content %}
    <h3>{% translate "Identity providers" %}</h3>
    <p>
        {% blocktranslate trimmed %}
            ephios can use other services (identity providers) to authenticate users via OpenID Connect (OIDC), e.g. a Nextcloud instance. You can set up multiple identity providers and users can choose which one to use when logging in.
        {% endblocktranslate %}
    </p>
    <a class="btn btn-secondary" href="{% url "core:settings_idp_discovery" %}"><span
        class="fa fa-plus"></span> {% translate "Add identity provider" %}</a>
    <table id="event_table" class="table table-striped display mt-2">
        <thead>
            <tr>
                <th>{% translate "Label" %}</th>
                <th>{% translate "Action" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for provider in identityprovider_list %}
                <tr>
                    <td class="break-word">{{ provider.label }}</td>
                    <td class="d-flex">
                        <a class="btn btn-secondary btn-sm text-nowrap"
                           href="{% url "core:settings_idp_edit" provider.pk %}"><span
                            class="fa fa-edit"></span> <span class="d-none d-md-inline">{% translate "Edit" %}</span></a>
                        <a class="btn btn-secondary btn-sm text-nowrap ms-1"
                           href="{% url "core:settings_idp_delete" provider.pk %}"><span
                            class="fa fa-trash-alt"></span> <span class="d-none d-md-inline">{% translate "Delete" %}</span></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
