{% extends "base.html" %}
{% load ephios_crispy %}
{% load utils %}
{% load user_extras %}
{% load static %}
{% load i18n %}

{% block title %}
    {% translate "Users" %}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {% translate "Users" %}
        </h1>
    </div>

    <form method="GET" id="filter-form" class="row row-cols-lg-auto g-3 align-items-center">
        {% if perms.core.add_userprofile %}
            <div class="col-12">
                <a class="btn btn-secondary mb-3" href="{% url "core:userprofile_create" %}"><span
                        class="fa fa-plus"></span> {% translate "Add user" %}</a>
            </div>
        {% endif %}
        {% crispy_field filter_form.query wrapper_class="col-12" show_labels=False %}
        {% crispy_field filter_form.groups wrapper_class="col-12 flex-grow-1" show_labels=False %}

        <div class="col-12 mb-3">
            <button type="submit" class="btn btn-primary">
                <span class="fa fa-funnel"></span> {% translate "Apply" %}
            </button>
            <a class="btn btn-secondary" href="?">{% translate "Reset" %}</a>
        </div>
    </form>

    <ul class="list-group mb-3">
        {% for userprofile in userprofile_list %}
            <li class="list-group-item">
                <div class="row mb-0">
                    <div class="col-8 col-lg-3">
                        <h5 class="mb-0">
                            {{ userprofile.get_full_name }}
                        </h5>
                        <a class="link-dark link-underline-opacity-0 link-opacity-50 link-underline-opacity-50-hover link-opacity-100-hover"
                           href="mailto:{{ userprofile.email }}">{{ userprofile.email }}</a>
                    </div>
                    <div class="col-4 col-lg-3 d-flex justify-content-end align-items-start pt-1 gap-1">
                        {% if userprofile.is_minor %}
                            <span class="badge bg-warning">{% translate "Minor" %}</span>
                        {% endif %}
                        {% if not userprofile.is_active %}
                            <span class="badge bg-danger">{% translate "Inactive" %}</span>
                        {% elif userprofile.is_staff %}
                            <span class="badge bg-info">{% translate "Admin" %}</span>
                        {% endif %}
                    </div>
                    <div class="col-8 col-lg">
                        <div class="text-body-secondary">
                            <span class="fa fa-users"></span>
                            {{ userprofile.groups.all|join:", " }}
                        </div>
                        <div class="text-body-secondary">
                            <span class="fa fa-certificate"></span>
                            {{ userprofile.show_grants|grants_to_abbreviation|join:", " }}
                        </div>
                    </div>
                    <div class="col-4 col-lg-auto d-flex align-items-center justify-content-end">
                        <a class="btn btn-secondary btn-sm text-nowrap"
                           href="{% url "core:workinghours_detail" userprofile.pk %}"><span
                                class="fa fa-eye"></span> <span
                                class="d-none d-md-inline">{% translate "Working hours" %}</span></a>
                        <a class="btn btn-secondary btn-sm text-nowrap ms-1"
                           href="{% url "core:userprofile_edit" userprofile.pk %}"><span
                                class="fa fa-edit"></span> <span
                                class="d-none d-md-inline">{% translate "Edit" %}</span></a>
                        {% if perms.core.delete_userprofile %}
                            <a class="btn btn-secondary btn-sm text-nowrap ms-1"
                               href="{% url "core:userprofile_delete" userprofile.pk %}"><span
                                    class="fa fa-trash-alt"></span> <span
                                    class="visually-hidden">{% translate "Delete" %}</span></a>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    {% include 'core/pagination.html' %}
{% endblock %}
