{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% translate "Password reset" %}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% translate "Password reset" %}</h1>
    </div>
    <p>{% blocktranslate with email=userprofile.email %}
        Are you sure that you want to reset the password of the user "{{ email }}"?
    {% endblocktranslate %}</p>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="confirm" value="true">
        <a role="button" class="btn btn-secondary"
           href="{% url "core:userprofile_edit" userprofile.pk %}">{% translate "Back" %}</a>
        <button type="submit" class="btn btn-danger">{% translate "Reset password" %}</button>
    </form>
{% endblock %}