{% load event_extras %}
{% load i18n %}

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">
            <span class="fa fa-calendar-alt"></span>
            {{ shift.get_start_end_time_display }}
            {% if can_change %}
                <small class="float-right">
                    <a href="{% url "event_management:shift_edit" shift.pk %}"><span class="fas fa-edit"></span>
                        {% trans "Edit" %}</a>
                    {% if shift.event.shifts.count > 1 %}
                        <a href="{% url "event_management:shift_delete" shift.pk %}"><span
                                class="fas fa-trash-alt"></span> {% trans "Delete" %}</a>
                    {% endif %}
                </small>
            {% endif %}
        </h5>
        <div class="card-body container">
            <div class="row">
                <div class="col-lg-4">
                    <dl>
                        <dt>{% trans "Meeting time" %}</dt>
                        <dd> {{ shift.meeting_time | time }}</dd>
                        {% for label, value in shift.signup_method.get_signup_info.items %}
                            <dt>{{ label }}</dt>
                            <dd> {{ value }}</dd>
                        {% endfor %}
                        {% if event.active and not without_controls %}
                            <dt>{{ shift|shift_status:request.user }}</dt>
                            <dd>
                                {% with can_sign_up=shift|can_sign_up:request.user %}
                                    {% if can_sign_up %}
                                        <a class="btn btn-outline-success"
                                           href="{% url "event_management:shift_register" shift.id %}">{% trans "Register" %}</a>
                                    {% else %}
                                        <span class="d-inline-block" tabindex="0"
                                              data-toggle="tooltip" data-html="true" data-placement="bottom" title="
                                            {% for error in shift|signup_errors:request.user %}
                                                <p>{{ error.message }}</p>
                                            {% endfor %}
                                            ">
                                            <button type="button" class="btn btn-outline-success"
                                                    style="pointer-events: none;"
                                                    disabled>{% trans "Register" %}</button>
                                        </span>
                                    {% endif %}
                                {% endwith %}
                                {% with can_user_decline=shift|can_user_decline:request.user %}
                                    {% if can_user_decline %}
                                        <a class="btn btn-outline-danger"
                                           href="{% url "event_management:shift_user_decline" shift.id %}">{% trans "Decline" %}</a>
                                    {% else %}
                                        <span class="d-inline-block" tabindex="0"
                                              data-toggle="tooltip" data-html="true" data-placement="bottom" title="
                                            {% for error in shift|decline_errors:request.user %}
                                                <p>{{ error.message }}</p>
                                            {% endfor %}
                                            ">
                                            <button type="button" class="btn btn-outline-danger"
                                                    style="pointer-events: none;"
                                                    disabled>{% trans "Decline" %}</button>
                                        </span>
                                    {% endif %}
                                {% endwith %}
                            </dd>
                        {% endif %}
                    </dl>
                </div>
                <div class="col-lg-8">
                    {{ shift.signup_method.render_shift_state }}
                </div>
            </div>
        </div>
    </div>
</div>