{% load event_extras %}
{% load i18n %}

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{% trans "Shift" %}
            {% if can_change %}
                <small class="float-right">
                    <a href="{% url "event_management:shift_edit" shift.pk %}"><span class="fas fa-edit"></span>
                        {% trans "Edit" %}</a>
                    {% if shift.event.shifts.count > 1 %}
                        <a href="{% url "event_management:shift_delete" shift.pk %}"><span
                                class="fas fa-trash-alt"></span> {% trans "Delete" %}</a>
                    {% endif %}
                </small>
            {% endif %}
        </h5>
        <div class="card-body container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <b>{% trans "Date" %}:</b> {{ shift.start_time | date:"d.m.Y" }} <br>
                        <b>{% trans "Meeting time" %}:</b> {{ shift.meeting_time | date:"H:i" }} <br>
                        <b>{% trans "Start time" %}:</b> {{ shift.start_time | date:"H:i" }} <br>
                        <b>{% trans "End time" %}:</b> {{ shift.end_time | date:"H:i" }} <br>
                        {% if event.active %}
                            <b>{% trans "Status" %}:</b> {{ shift|shift_status:request.user }} <br>
                            {% with can_sign_up=shift|can_sign_up:request.user %}
                                {% if can_sign_up %}
                                    <a class="btn btn-primary"
                                       href="{% url "event_management:shift_register" shift.id %}">{% trans "Register" %}</a>
                                {% else %}
                                    <button type="button" class="btn btn-primary" disabled
                                            data-toggle="tooltip" data-html="true" data-placement="bottom" title="
                                        <ul>
                                            {% for error in shift|signup_errors:request.user %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    ">{% trans "Register" %}</button>
                                {% endif %}
                            {% endwith %}
                            {% with can_user_decline=shift|can_user_decline:request.user %}
                                {% if can_user_decline %}
                                    <a class="btn btn-outline-danger"
                                       href="{% url "event_management:shift_user_decline" shift.id %}">{% trans "Decline" %}</a>
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                    </p>
                </div>
                <div class="col-md-6">
                    <ul class="list-group">
                        <div class="list-group-item">
                            <h5>TODO Section</h5>
                            <ul>
                                <li>TODO Position</li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>