{% load humanize %}
{% load i18n %}
<div>
    {% for comment in comments %}
        <p class="mt-0 mb-0 d-flex">
            <div class="pt-1 d-inline-block comment-visibility-icon">
                {% if comment.visible_for == 2 %}
                    <span class="fa fa-users"></span>
                {% elif comment.visible_for == 1 %}
                    <span class="fa fa-user"></span>
                {% elif comment.visible_for == 0 %}
                    <span class="fa fa-lock"></span>
                {% endif %}
            </div>
            <span class="pe-1"><b>{{ comment.author }}</b></span>
            <span class="flex-grow-1">{{ comment.text }}</span>
            <span>{{ comment.created_at|naturaltime }}</span>
        </p>
    {% endfor %}
</div>
