{% extends "base.html" %}
{% load settings_extras %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block title %}
    {% translate "Login" %}
{% endblock %}

{% block content %}
    {% translate "Login" as login_message %}
    {% oidc_clients as clients %}
    <h2>{{ login_message }}</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary" type="submit">{{ login_message }}</button>
                    <a class="float-end" href="{% url "password_reset" %}">{% translate "Forgot your password?" %}</a>
                </form>
            </div>
            {% if clients.exists %}
                <div class="col-lg pt-4">
                    {% for client in clients %}
                        <div class="mb-1">
                            <a class="btn btn-primary w-100" href="{% url 'core:oidc_initiate' client.id %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">{% blocktranslate trimmed with label=client.label %}Login with {{ label }}{% endblocktranslate %}</a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
