{% load logentries %}
{% load i18n %}
{% translate "<em>None</em>" as NONE %}
{{ statement.label }}{% if statement.verb %} {{ statement.verb }}{% endif %}:
{% if statement.objects %}
    {% for obj in statement.objects %}
        {% if not forloop.first %}, {% endif %}{{ obj|linkify_absolute_url }}
    {% endfor %}
{% else %}
    {% if statement.old_value %}
        {{ statement.old_value|linkify_absolute_url|default_if_none:NONE }} →
    {% endif %}
    {{ statement.value|linkify_absolute_url|default_if_none:NONE }}
{% endif %}