{% extends "core/mails/notification.html" %}
{% load settings_extras %}
{% load i18n %}

{% block content %}
    <tr>
        <td>
            {% with start_time=event.get_start_time end_time=event.get_end_time %}
                {% if start_time %}
                    <h2>
                        {{ start_time|date:"D" }},
                        {% if not event.is_multi_day %}
                            {{ start_time|date:"SHORT_DATE_FORMAT" }}
                            {{ start_time|date:"TIME_FORMAT" }} –
                            {{ end_time|date:"TIME_FORMAT" }}
                        {% else %}
                            {{ start_time|date:"SHORT_DATE_FORMAT" }}
                            {% translate "to" %}
                            {{ end_time|date:"SHORT_DATE_FORMAT" }}
                        {% endif %}
                    </h2>
                {% endif %}
            {% endwith %}
            <p>
                {{ event.description }}
            </p>
            <p>
                {% translate "Location" %}: {{ event.location }}<br/>
            </p>
        </td>
    </tr>
    <tr>
        <td class="actions">
            <a class="btn btn-primary"
               href="{{ event.get_absolute_url|make_absolute }}">{% translate "View event" %}</a>
        </td>
    </tr>
{% endblock %}
