{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}

{% block title %}
    {% translate "Copy event" %}
{% endblock %}

{% block messages %}
    {% for __, errors in form.errors.items %}
        {% for error in errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {% translate "Copy event" %} "{{ event.title }}" <small>({{ event.get_start_time }})</small>
        </h1>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.recurrence }}
        <div class="float-end">
            <a class="btn btn-secondary me-1" href="{% url "core:event_detail" event.pk event.get_canonical_slug %}"><span
                class="fa fa-arrow-left"></span> {% translate "Back" %}</a>
            <button type="submit" class="btn btn-primary"><span
                class="fa fa-copy"></span> {% translate "Copy" %}</button>
        </div>
    </form>
{% endblock %}
