{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% translate "Reset password" %}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% translate "Reset password" %}</h1>
    </div>
    <p>{% blocktranslate trimmed with name=userprofile.get_full_name %}
        Are you sure that you want to send a password reset email to "{{ name }}"?
    {% endblocktranslate %}</p>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="confirm" value="true">
        <a role="button" class="btn btn-secondary"
           href="{% url "core:userprofile_edit" userprofile.pk %}">{% translate "Back" %}</a>
        <button type="submit" class="btn btn-primary">{% translate "Send password reset email" %}</button>
    </form>
{% endblock %}