{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load static %}

{% block title %}
    {% translate "Delete user" %}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% translate "Delete user" %}</h1>
    </div>

    <form method="post">{% csrf_token %}
        {{ form|as_crispy_errors }}
        <p>{% blocktranslate trimmed with name=userprofile.get_full_name %}
            Are you sure you want to delete the user {{ name }} ({{ userprofile }})?
        {% endblocktranslate %}</p>
        <a role="button" class="btn btn-secondary" href="{% url "core:userprofile_list" %}">{% translate "Back" %}</a>
        <button type="submit" class="btn btn-danger">{% translate "Delete" %}</button>
    </form>

{% endblock %}
