{% load i18n %}
{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JEP - {% block title %} JEP {% endblock %}</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static "fontawesome/css/all.css" %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css" type="text/css" media="screen" rel="stylesheet">
    {% block css %}{% endblock %}
</head>
<body>
{% bootstrap_javascript jquery="full" %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>
<script type="text/javascript" src="/static/django_select2/django_select2.js"></script>
<script src="{% static "js/main.js" %}"></script>
{% block javascript %}{% endblock %}

<div class="container mb-3">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">JEP</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% if user.is_authenticated %}
                        <ul class="navbar-nav mr-auto">
                            {% with url_name=request.resolver_match.url_name %}
                                <li class="nav-item {% if url_name == 'index' %}active{% endif %}">
                                    <a class="nav-link" href="{% url "event_management:index" %}">{% trans "Home" %}
                                        <span
                                                class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item {% if url_name == 'event_list' %}active{% endif %}">
                                    <a class="nav-link"
                                       href="{% url "event_management:event_list" %}">{% trans "Events" %}
                                        <span
                                                class="sr-only">(current)</span></a>
                                </li>
                                {% if perms.user_management.view_user %}
                                    <li class="nav-item {% if url_name == "user_list" %}active{% endif %}">
                                        <a class="nav-link"
                                           href="{% url "user_management:user_list" %}">{% trans "Users" %}
                                            <span
                                                    class="sr-only">(current)</span></a>
                                    </li>
                                {% endif %}
                                {% if perms.auth.view_group %}
                                    <li class="nav-item {% if url_name == 'planners' %}active{% endif %}">
                                        <a class="nav-link"
                                           href="{% url "user_management:group_list" %}">{% trans "Groups" %}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endwith %}
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ user.get_full_name }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    {% if user.is_staff %}
                                        <a class="dropdown-item"
                                           href="{% url "admin:index" %}">{% trans "Administration" %}</a>
                                        <div class="dropdown-divider"></div>
                                    {% endif %}
                                    <a class="dropdown-item"
                                       href="{% url "user_management:profile" %}">{% trans "Profile" %}</a>
                                    <a class="dropdown-item"
                                       href="{% url "password_change" %}">{% trans "Change password" %}</a>
                                    <a class="dropdown-item" href="{% url "logout" %}">{% trans "Logout" %}</a>
                                </div>
                            </li>

                        </ul>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-3">
            {% bootstrap_messages %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>
