{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% translate "Settings" %}
{% endblock %}

{% block content %}
    <div class="page-header mb-3">
        <h1>{% translate "Settings" %} {% block settings_title %}{% endblock %}</h1>
    </div>
    <div class="row">
        <div class="col-2">
            {% with url_name=request.resolver_match.url_name %}
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == "settings_general" %}active{% endif %}"
                           href="{% url "core:settings_general" %}">{% translate "General" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == "settings_eventtype_list" %}active{% endif %}"
                           href="{% url "core:settings_eventtype_list" %}">{% translate "Event types" %}</a>
                    </li>
                </ul>
            {% endwith %}
        </div>
        <div class="col-10">
            {% block settings_content %}

            {% endblock %}
        </div>
    </div>
{% endblock %}
