{% extends "core/settings/settings_base.html" %}
{% load humanize %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block settings_content %}
    <form method="post" class="mb-3">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">{% translate "Save" %}</button>
    </form>

    {% if healthchecks %}

        <h3>
            {% translate "System health" %}
        </h3>
        <div class="row row-cols-1 row-cols-md-2 g-3">
            {% for check, status, message in healthchecks %}
                <div class="col">
                    <div class="card mb-1">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ check.name }}
                                {% if status == "error" %}
                                    <i class="fas fa-times-circle text-danger"></i>
                                    <span class="visually-hidden">{% translate "Error" %}</span>
                                {% elif status == "warning" %}
                                    <i class="fas fa-exclamation-circle text-warning"></i>
                                    <span class="visually-hidden">{% translate "Warning" %}</span>
                                {% elif status == "ok" %}
                                    <i class="fas fa-check-circle text-success"></i>
                                    <span class="visually-hidden">{% translate "OK" %}</span>
                                {% elif status == "unknown" %}
                                    <i class="fas fa-question-circle text-secondary"></i>
                                    <span class="visually-hidden">{% translate "Unknown" %}</span>
                                {% endif %}
                            </h5>
                            <p class="card-text">
                                {{ check.description }}
                                {% if check.documentation_link %}
                                    <a href="{{ check.documentation_link }}" target="_blank" rel="noreferrer">
                                        <i class="fas fa-question-circle"></i>
                                        <span class="visually-hidden">
                                            {% translate "Learn more" %}
                                        </span>
                                    </a>
                                {% endif %}
                            </p>
                            <p class="card-text">
                                {{ message }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
