{% extends "core/settings/settings_base.html" %}
{% load crispy_forms_filters %}
{% load utils %}
{% load i18n %}
{% load webpush_notifications %}

{% block html_head %}
    {% webpush_header %}
{% endblock %}

{% block settings_content %}
    <h3 class="mt-3">{% translate "Notifications" %}</h3>

    <p>
        {% translate "Activate push notifications on each device you want to receive them." %}
    </p>

    {# Not translated: webpush_button with_class="btn btn-sm btn-outline-primary" #}
    <button id="webpush-subscribe-button" class="btn btn-sm btn-outline-primary"
            data-url="{% url "save_webpush_info" %}">
        {% translate "Subscribe to Push Messaging" %}
    </button>
    <div id="webpush-message" hidden></div>

    <h3 class="mt-4">{% translate "Notification occasions" %}</h3>

    <p>{% translate "You can configure whether you want to receive notifications for the following occasions:" %}</p>
    <form method="post">
        {% csrf_token %}
        <table class="table">
            <tbody>
                {% for field in form %}
                    <tr>
                        <td>{{ field.label }}</td>
                        {% for choice in field %}
                            <td>{{ choice }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-primary">{% translate "Save" %}</button>
    </form>



{% endblock %}
