{% extends "core/settings/settings_base.html" %}
{% load settings_extras %}
{% load static %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block settings_content %}
    <h3 class="mt-3">{% translate "Calendar" %}</h3>
    <p>
        {% translate "You can subscribe to a calendar containing all events that you participate in. Most calendars (e.g. Google Calendar) offer this feature. This allows you to see all events in your personal calendar. To activate this, you need to copy the address of the following link and subscribe to the URL." %}
    </p>
    <div class="input-group mb-3">
        {% url "core:user_event_feed" userprofile.calendar_token as feed_location %}
        <input type="text" id="calendar-url" class="form-control" aria-label="calendar-url"
               value="{{ feed_location|make_absolute }}"
               readonly>
        <button id="calendar-copy-btn" class="btn btn-outline-primary clipboard-button" type="button"
                data-clipboard-target="#calendar-url" data-trigger="manual"
                title="Copied!">{% translate "Copy" %}</button>
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static "clipboardjs/js/clipboard.min.js" %}"></script>
    <script type="text/javascript" src="{% static "ephios/js/clipboard.js" %}"></script>
{% endblock %}