{% load static %}
{% load i18n %}
{% block javascript %}
    <script type="text/javascript" src="{% static "datatables/datatables.min.js" %}"></script>
    <script>
        {% get_current_language as current_language %}
        $(document).ready(function () {
            $(".datatable").DataTable({
                "paging": false,
                "info": false,
                "responsive": true,
                {% if current_language == "de-de" %}
                    "language": {
                        "url": "{% static "datatables/german.json" %}"
                    },
                {% endif %}
            {% if order_column and order_direction %}
                "order": [[ {{ order_column }}, "{{ order_direction }}" ]]
            {% endif %}
            });
        });
    </script>
{% endblock %}