{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
    {{ event.title }}
{% endblock %}

{% block content %}
    {% with perms.event_management.change_event as can_change %}
        {% if not event.active %}
            {% if event.shifts.all %}
                {% url "event_management:event_activate" event.pk as activate_url %}
                {% bootstrap_alert "This event has not been saved! If you are done editing the event, you can save it. <a class='btn btn-light' href='"|add:activate_url|add:"'>Save</a>"|safe "warning" %}
            {% else %}
                {% bootstrap_alert "This event has not been saved! Please add a shift to save this event." "danger" %}
            {% endif %}
        {% endif %}
        <div class="page-header">
            <h1>Event: {{ event.title }} <small>({{ event.location }})</small>
                {% if can_change %}
                    <div class="float-right">
                        <a role="button" class="btn btn-primary"
                           href="{% url "event_management:event_edit" event.pk %}">
                            <span class="fas fa-edit"></span>
                            Edit event
                        </a>
                        <a role="button" class="btn btn-danger"
                           href="{% url "event_management:event_delete" event.pk %}">
                            <span class="fas fa-trash-alt"></span>
                            Delete event
                        </a>
                    </div>
                {% endif %}
            </h1>
        </div>
        <p>{{ event.description }}</p>
        <div>
            {% for shift in event.shifts.all %}
                {% include "event_management/fragments/shift_box_big.html" with shift=shift %}
            {% endfor %}
        </div>
        {% if can_change %}
            <a role="button" class="btn btn-secondary" href="{% url "event_management:event_createshift" event.pk %}">
                <span class="fas fa-plus"></span>
                Add another shift
            </a>
        {% endif %}
    {% endwith %}
{% endblock %}
