{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
    Create new shift for event
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Create new shift for event</h1>
    </div>
    <div class="row">
        <div class="col-md-9">
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div id="configuration_form">
                    {% if configuration_form %}
                        {% bootstrap_form configuration_form %}
                    {% endif %}
                </div>

                {% buttons %}
                    <a role="button" class="btn btn-danger" href="{% url "event_management:event_delete" event.pk %}">Discard
                        event</a>
                    <button type="submit" class="btn btn-primary float-right ml-1">Create event</button>
                    <button type="submit" name="addAnother" class="btn btn-secondary float-right">Add another shift
                    </button>
                {% endbuttons %}
            </form>
        </div>
        <div class="col-md-3">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text">
                        Event type: {{ event.type }}<br>
                        Location: {{ event.location }}
                    </p>
                </div>
            </div>
            {% for shift in shifts %}
                {% include "event_management/shift_box_small.html" with shift=shift %}
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">
        function isEmpty(el) {
            return !$.trim(el.html())
        }

        $('select[name="signup_method_slug"]').on('change', function () {
            $.ajax({
                url: '{% url "event_management:signupmethod_configurationform" "slug" %}'.replace("slug", this.value),
                type: 'GET',

                success: function (data) {
                    $('#configuration_form').html(data);
                }
            });
        });

        $(document).ready(function () {
            if (isEmpty($('#configuration_form'))) {
                $('select[name="signup_method_slug"]').trigger("change")
            }
        });
    </script>

{% endblock %}
