{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
    {{ event.title }}
{% endblock %}

{% block content %}
    {% if not event.active %}
        {% if event.shift_set.all %}
            {% url "event_management:event_activate" event.pk as activate_url %}
            {% bootstrap_alert "This event has not been saved! If you are done editing the event, you can save it. <a class='btn btn-light' href='"|add:activate_url|add:"'>Save</a>"|safe "warning" %}
        {% else %}
            {% bootstrap_alert "This event has not been saved! Please add a shift to save this event." "danger" %}
        {% endif %}
    {% endif %}
    <div class="page-header">
        <h1>Event: {{ event.title }} <small>({{ event.location }})</small></h1>
    </div>
    <p>{{ event.description }}</p>
    <div>
        {% for shift in event.shift_set.all %}
            {% include "event_management/shift_box_big.html" with shift=shift %}
        {% endfor %}
    </div>
{% endblock %}
