{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block javascript %}
    {% include "event_management/fragments/datatable.html" %}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% trans "Events" %}</h1>
    </div>
    {% if perms.event_management.add_event %}
        <a class="btn btn-secondary" href="{% url "event_management:event_create" %}"><span
                class="fa fa-plus"></span> {% trans "Add event" %}</a>
    {% endif %}
    <table id="event_table" class="table table-striped display datatable">
        <thead>
        <tr>
            <th data-priority="2">{% trans "Title" %}</th>
            <th data-priority="5">{% trans "Location" %}</th>
            <th data-priority="3">{% trans "Date" %}</th>
            <th data-priority="4">{% trans "until" %}</th>
            <th data-priority="1">{% trans "Action" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for event in event_list %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.start_time | date:"d.m.Y" }}</td>
                <td>{{ event.end_time | date:"d.m.Y" }}</td>
                <td><a class="btn btn-primary" href="{% url "event_management:event_detail" event.id %}"><span
                        class="fa fa-eye"></span> {% trans "Show" %}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
