{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
    Delete event
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Delete event</h1>
    </div>

    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete the shift "{{ shift }}"?</p>
        <a role="button" class="btn btn-secondary" href="{% url "event_management:event_detail" shift.event.pk %}">Back</a>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>

{% endblock %}
