name: Publish to PyPI
on:
  push:
    tags:
      - 'v*.*.*'
jobs:
  pypi:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/ephios
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@v6
    - name: Install poetry # TODO use uv in this file
      run: |
        pipx install "poetry<2.0"
        pipx inject poetry "poetry-dynamic-versioning[plugin]"
    - name: Build wheel
      run: poetry build
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
