name: ephios

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python
        source $HOME/.poetry/env
        poetry install
    - name: Lint with black
      run: |
        source $HOME/.poetry/env
        $HOME/.poetry/bin/poetry run black --check .
    - name: Test apps
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        cp .env.example .env
        $HOME/.poetry/bin/poetry run coverage run -m pytest tests/
        $HOME/.poetry/bin/poetry run coveralls
