name: staging

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install poetry
        run: pipx install "poetry<2.0"
      - uses: actions/setup-python@v6
        with:
          python-version: "3.10"
          cache: 'poetry'
      - name: Install poetry-dynamic-versioning
        run: poetry self add "poetry-dynamic-versioning[plugin]"
      - name: Install dependencies
        run: |
          poetry run pip install -U pip
          poetry install
      - name: build
        run: poetry build
      - uses: actions/upload-artifact@v6
        with:
          name: ephios-dev-wheel
          path: dist/ephios-*.whl
          if-no-files-found: error
          retention-days: 1

  deploy:
    runs-on: ubuntu-latest
    needs: build
    env:
      ANSIBLE_PIPELINING: True
    steps:
      - uses: actions/download-artifact@v7
        id: download
        with:
          name: ephios-dev-wheel
          path: wheel

      - name: get path to wheel
        id: getwheel
        run: echo "::set-output name=path::~/$(ls wheel/ephios-*.whl)"

      - name: rsync wheel
        uses: nick-fields/retry@v3
        with:
          timeout_seconds: 10
          max_attempts: 3
          command: |
            echo "${{ secrets.STAGING_SSH_PRIVATE_KEY }}" > .staging-key
            chmod 0600 .staging-key
            rsync -e "ssh -o StrictHostKeyChecking=no -i .staging-key" -a --delete wheel staghios@despina.uberspace.de:~
            rm .staging-key

      - name: Checkout ephios repo
        uses: actions/checkout@v6
        with:
          path: ephios

      - name: Checkout ansible repo
        uses: actions/checkout@v6
        with:
          repository: 'ephios-dev/ephios-ansible'
          path: playbook

      - name: Run playbook
        uses: dawidd6/action-ansible-playbook@v7
        with:
          playbook: playbook/uberspace/provision.yml
          directory: ./
          key: ${{secrets.STAGING_SSH_PRIVATE_KEY}}
          options: |
            --inventory ephios/.github/ci/staging-inventory.yml
            --extra-vars package_name="${{steps.getwheel.outputs.path}}"
            --verbose
