{% load settings_extras %}
{% load i18n %}
{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="created" content="{% now "c" %}">
        <title>{% translate "An error occurred" %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static "appicon-svg-prod.svg"|as_brand_static_path %}">
        {% compress css %}
            <link type="text/css" media="screen" rel="stylesheet" href="{% static "fontawesome/css/all.css" %}">
            <link type="text/x-scss" href="{% static 'ephios/scss/main.scss' %}" rel="stylesheet" media="screen">
            {% block css %}{% endblock %}
        {% endcompress %}
    </head>

    <body data-pwa-network="online">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <img src="{% static "nav_logo.png"|as_brand_static_path %}"
                             alt="ephios"
                             class="d-inline-block" width="75">
                    </a>
                </div>
            </nav>
        </header>
        <div class="container container-main pt-3">
            <main class="row blur-on-unload">
                <div class="col-md-12">
                    <h1>
                        {% translate "An error occurred" %}
                    </h1>
                    <p>
                        {% blocktrans trimmed %}
                            The server encountered an internal error and was unable to
                            retrieve your request. Please try again later.
                            The administrators have been notified.
                        {% endblocktrans %}
                    </p>
                    <a href="/" class="btn btn-primary">
                        {% translate "Return home" %}
                    </a>
                </div>
            </main>
            <footer class="row blur-on-unload mt-2">
                <div class="col-md-12 text-center">
                    <small>
                        <span class="text-body-secondary">
                            {% blocktranslate trimmed with brand='<a href="https://ephios.de/" rel="noreferrer" target="_blank">ephios</a>' %}
                                powered by {{ brand }}
                            {% endblocktranslate %}
                        </span>
                    </small>
                </div>
            </footer>
        </div>
    </body>
</html>
